<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/39a6c812-760a-40c7-b3c4-d07befe961e6/resourceGroups/Certification/providers/Microsoft.ContainerRegistry/registries/azrlocation</ResourceId>
    <ResourceName>azrlocation</ResourceName>
    <ResourceGroup>Certification</ResourceGroup>
    <Subscription>Windows Azure MSDN - Visual Studio Professional</Subscription>
    <RegistryUrl>https://azrlocation.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e7484578-7a20-4e52-8f03-c8d1cc77a0e9</ProjectGuid>
  </PropertyGroup>
</Project>
